.modal {
  display: block;
  position: top;
  background-color: #00f0ff;
  left:30%;
  position: absolute;
  z-index: 41;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 500px;
  padding: 20px;
  text-align: center;
}

img {
  height: 500px;
}

.modal-btn {
  background-color: #000000;
  border: 2px solid #fcee0a;
  border-radius: 30px;
  box-shadow: #fcee0a 4px 4px 0 0;
  color: #fcee0a;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modal-btn:hover {
  background-color: #fcee0a;
  color: #000000;
}

.modal-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .modal-btn {
    min-width: 120px;
    padding: 0 25px;
  }
}